table.institutions #the-list tr:not(.totals-row):nth-child(odd) {
	background-color: #FFFFFF;
}

table.institutions #the-list tr:not(.totals-row):nth-child(even) {
	background-color: #F6F7F7;
}

table.institutions #the-list tr td,th {
	border-bottom: 1px solid #e5e5e5;
}

table.institutions #the-list tr td p {
	margin: 0;
}

.striped .totals-row {
	background-color: #E0E0E0 !important;
}

.striped .totals-row .text-right {
	padding-left: 40px;
}

body.toplevel_page_pb_multi_institution .filtering {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}


body.toplevel_page_pb_multi_institution .filtering ul {
	margin: 0;
	padding-top: 5px;
}

body.toplevel_page_pb_multi_institution .filtering a {
	height: 30px;
}
