table.institutions #the-list tr:not(.totals-row):nth-child(odd) {
	background-color: #FFFFFF;
}

table.institutions #the-list tr:not(.totals-row):nth-child(even) {
	background-color: #F6F7F7;
}

table.institutions #the-list tr td,th {
	border-bottom: 1px solid #e5e5e5;
}

table.institutions #the-list tr td p {
	margin: 0 0 10px;
}

.striped .totals-row {
	background-color: #E0E0E0 !important;
}

.striped .totals-row .text-right {
	padding-left: 40px;
}

body.institutions_page_pb_multi_institutions .filtering {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}

body.institutions_page_pb_multi_institutions .filtering ul {
	margin: 0;
	padding-top: 5px;
}

body.institutions_page_pb_multi_institutions .filtering a {
	height: 30px;
}

.institutions_page_pb_multi_institution_form {
	--pb-input-width: 25em;
	--pb-selected-options-flex-direction: column;
}

.institutions_page_pb_multi_institution_form .description {
	font-weight: normal;
}

.institutions_page_pb_multi_institution_form .form-table td select[hidden] {
	display: none;
}

.institutions_page_pb_multi_institution_form .multiple-text-input {
	display: grid;
	grid-template-columns: 1fr;
	gap: .5rem;
}

.institutions_page_pb_multi_institution_assign_book .assign-books .column-cover {
	min-width: 50px;
	text-align: center;
	width: 5%;
}

.institutions_manager_dashboard_stats {
	text-align: center;
}

.institutions_manager_dashboard_stats p {
	margin: 2rem 0;
}

.institutions_manager_dashboard_stats a {
	display: inline-block;
}
