:root {
	--odd-row-bg-color: #FFFFFF;
	--even-row-bg-color: #F6F7F7;
	--totals-row-bg-color: #dedede;
	--border-color: #e5e5e5;
	--totals-row-border-color: #C3C4C7;
	--pb-count-td-width: 10%;
	--pb-error-color: #d4002d;
	--table-text-color: #333;
}

table.institutions {
	#the-list {
		tr:not(.totals-row) {
			&:nth-child(odd) {
				background-color: var(--odd-row-bg-color);
			}
			&:nth-child(even) {
				background-color: var(--even-row-bg-color);
			}
		}

		tr {
			td, th {
				border-bottom: 1px solid var(--border-color);
				color: var(--table-text-color);
			}

			td {
				margin: 0 0 10px;
			}
		}

		.row-title {
			font-size: 13px !important;
		}

		.totals-row {
			background-color: var(--totals-row-bg-color) !important;

			td, th {
				border-bottom: 1px solid var(--totals-row-border-color);
			}
		}
	}
}

table.users, table.assign-books {
	tr {
		td, th {
			border-bottom: 1px solid var(--border-color);
		}

		td {
			margin: 0 0 10px;
		}
	}
}

#pressbooks-multi-institution-assign-table {
	.assign-books {
		.column-cover {
			min-width: 50px;
			text-align: center;
			width: 5%;
		}
	}

	.wp-list-table td {
		border-bottom: 1px solid var(--border-color);
	}
}

.striped {
	.totals-row {
		.text-right {
			padding-left: 40px;
		}
	}
}

body.institutions_page_pb_multi_institutions {
	.filtering {
		display: flex;
		gap: 10px;
		margin-top: 10px;

		ul {
			margin: 0;
			padding-top: 5px;
		}

		a {
			height: 30px;
		}
	}
}

.institutions_page_pb_multi_institution_form {
	--pb-input-width: 25em;
	--pb-selected-options-flex-direction: column;

	.error {
		color: var(--pb-error-color);

		.error-list {
			margin: 0;
		}

		li {
			margin: 0.5rem 0;
		}

		.padding {
			padding: 0 2px;
		}

		.invalid {
			margin: .2rem 0 0 1rem;
		}
	}

	.description {
		font-weight: normal;
	}

	.form-table {
		td {
			select[hidden] {
				display: none;
			}
		}
	}

	.multiple-text-input {
		display: grid;
		grid-template-columns: 1fr;
		gap: .5rem;
	}
}

.pb-institution-welcome-content p {
	margin: 4rem 0 0 0 !important;
}

.pb-dashboard-content i.dashicons-before {
	margin-right: 4px !important;
}

form {
	.form-table.institution {
		th {
			width: 260px;
		}
		th, td {
			vertical-align: top;
			padding-top: 10px;
		}

		.institutional-managers-component {
			margin-top: -15px;
			display: flex;
		}
	}
}

th#book_limit, th#users {
	width: var(--pb-count-td-width);
}

th#buy_in {
	width: 65px;
}
